@import "tailwindcss";

@font-face {
    font-family: Plus Jakarta Sans;
    src: url("./../public/fonts/PlusJakartaSans-Regular.ttf");
}
body{
    background-color: rgba(248, 250, 252, 1);
    font-family: Plus Jakarta Sans, sans-serif;
}
